<%= form_with(model: post, local: true, html: { class: 'form-horizontal' }) do |f| %>
  <% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <%= f.label :title, 'Título', class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: 'Título del post' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :content, 'Contenido', class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.text_area :content, class: 'form-control', placeholder: 'Contenido del post' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Confirmar', class: 'btn btn-primary' %>
      </div>
    </div>
  </fieldset>
<% end %>
